{% extends 'ProductAdminPage.html' %}



{% block content %}
    <script type="text/javascript">


        function checkStyleList(tagId, tagName) {
            var existStyle = document.getElementsByName('ExistStyle');
            var allStyle = document.getElementsByName('AllFirstStyle');
            var allChooseCount = allStyle.length;

            //得到所有选中到个数
            var chooseCount = 0;
            var i = 0, j = 0;
            for (i = 0; i < allStyle.length; i++) {
                var someLevelTag = document.getElementsByName(allStyle[i].value);
                for (j = 0; j < someLevelTag.length; j++) {
                    if (someLevelTag[j].checked === true)
                        chooseCount = chooseCount + 1;
                }
            }
            var someoneStyle = '';
            var idArray = [];
            var count = 0;
            //关闭上次选择中设置的disabled
            for (i = 0; i < existStyle.length; i++) {
                someoneStyle = existStyle[i].value;
                idArray = someoneStyle.split(' ');
                idArray.length--;
                //寻找n-1个元素与已存在标签是否一致
                for (j = 0; j < idArray.length; j++)
                    if (idArray[i] !== '') {
                        document.getElementById(idArray[j]).disabled = false;
                    }

            }
            //所有存在的标签,对于n-1个checked时，最后一个匹配的是不可选项，需要disabled。
            if ((allChooseCount - chooseCount) < 2) {
                for (i = 0; i < existStyle.length; i++) {
                    someoneStyle = existStyle[i].value;
                    idArray = someoneStyle.split(' ');
                    idArray.length--;
                    count = 0;
                    //寻找n-1个元素与已存在标签是否一致
                    for (j = 0; j < idArray.length; j++)
                        if (document.getElementById(idArray[j]).checked === true)
                            count++;
                    // checked个数是否是n-1
                    if (count === (allChooseCount - 1)) {
                        for (j = 0; j < idArray.length; j++)
                            if (document.getElementById(idArray[j]).checked === false) {
                                document.getElementById(idArray[j]).disabled = true;
                            }
                    }
                }
                // 增加对只有一级属性的处理，即特殊情况，n = 1时的处理。
                if(allChooseCount === 1){
                    for (i = 0; i < existStyle.length; i++) {
                        //去掉输入中可能存在的空格
                        someoneStyle = existStyle[i].value;
                        idArray = someoneStyle.split(' ');
                        document.getElementById('tmpId').checked = true;
                        document.getElementById(idArray[0]).checked = false;
                        document.getElementById(idArray[0]).disabled = true;
                    }
                }
            }

        }


        //删除某个标签
        function deleteTag(parent, name) {
            var parentElement = document.getElementById(parent);
            var deleteElement = document.getElementById(name);
            if(deleteElement != null)
                parentElement.removeChild(deleteElement);
            else
                alert('delete对象不存在');
        }


        //增加规格标签
        function addSpecification(inputTextName){
            var parent=document.getElementById(inputTextName+'Html');
            var property = document.getElementById(inputTextName+'Text');
            var newDiv = document.createElement('div');
            newDiv.setAttribute('class', 'row');
            newDiv.id = inputTextName + property.value;
            if(property.value == '')
            {
                alert('请输入内容！');
                return
            }
            if(document.getElementById(newDiv.id))
            {
                alert('该标签已存在，请重新输入！');
                return
            }
            //注意字符串中引号的处理
             newDiv.innerHTML = '' +
                '<div class="span2">'+
                property.value +' '
                + '</div>' +
                '<div class="span5"><input type="hidden" name="'+ inputTextName +'Name'+'" value="'+property.value + '">'
                + '<input type="text" name="' + inputTextName + 'Value_' + property.value + '" >'
                + '<input type="button" name="delete" value="删除" onclick="deleteTag(\'' + parent.id + '\', \'' + newDiv.id + '\')">' +
                '</div>' ;

            if(parent !== null )
                parent.appendChild(newDiv);
            property.value = '';
        }
        function loadAllUploadImage() {
            var parent = document.getElementById('_loadAllImage');
            var imageList = document.getElementsByName('imageList');
            //清除原来的图片
            var i;
            while(parent.hasChildNodes()) //当div下还存在子节点时 循环继续
            {
                parent.removeChild(parent.firstChild);
            }

            //重新加载图片
            for(i=0; i<imageList.length; i++){
                imageFileId = imageList[i].id;
                if(imageList[i].checked == true){
                    var newDiv = document.createElement('div');
                    newDiv.setAttribute('class', 'div_inline1');
                    newDiv.innerHTML = '<img src="' + document.getElementById('_imageList_'+imageList[i].getAttribute('value')).getAttribute('src') +'" width="200" height="200"> '+
                        '<input type="radio" name="mainImage" value="'+ imageList[i].getAttribute('value') +'" onclick="" id="">';
                    if(parent !== null)
                        parent.appendChild(newDiv);
                }
            }
        }
    </script>
      <div >
    修改商品组{{ content.productGroup.name }}中的商品{{ content.product.name }}
    </div>
    <div>

        {% if content.profile.current_role == 'ProductAdmin' %}
            <form enctype="multipart/form-data" method="POST" action="{% url 'Product:EditProduct' %}?timestamp={{ content.time }}" onsubmit="return multiClick();" >
        {% endif %}
        {% if content.profile.current_role == 'Shop' %}
             <form enctype="multipart/form-data" method="POST" action="{% url 'ShopProductGroup:EditProduct' %}?timestamp={{ content.time }}" onsubmit="return multiClick();" >
        {% endif %}

            {% csrf_token %}

            <input type="hidden" name="objectId" value="{{ content.product.objectId }}" readonly >
            <input type="hidden" name="_productGroupObjectId" value="{{ content.productGroup.objectId }}" >
            <div style="margin-top: 40px">
                <input type="text" name="name" value="{{ content.product.name }}" required>
                <hr>
            </div>

            <div style="margin-top: 40px">
                修改价格
                <hr>
                <script>
                    function clearNoNum(obj){
                        //先把非数字的都替换掉，除了数字和.
                        obj.value = obj.value.replace(/[^\d.]/g,"");
                        //必须保证第一个为数字而不是.
                        obj.value = obj.value.replace(/^\./g,"");
                        //保证只有出现一个.而没有多个.
                        obj.value = obj.value.replace(/\.{2,}/g,".");
                        //保证.只出现一次，而不能出现两次以上
                        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
                        //保证 数字整数位不大于8位
                        if(100000000<=parseFloat(obj.value))
                            obj.value = "";
                    }
                </script>

                <input type="text" onInput="clearNoNum(this)" name="price" value="{{ content.product.price }}" required>
            </div>
            <div style="margin-top: 40px">
                商品库存数量
                <hr>
                <input type="number" name="stockCount" value="{{ content.product.stockCount }}" required>
            </div>
            <div style="margin-top: 40px">
                商品限购数量
                <hr>
                <input type="number" name="limitCount" value="{{ content.product.limitCount }}" required>
            </div>
            <div style="margin-top: 40px">
                重新选择属性
                <hr>

                <div style="border: 1px solid">
                    {% for foo in content.productGroup.productStyleList %}
                        {% for goo in foo %}{{ goo.name }}{{ goo.value }} {% endfor %}
                        <input type="hidden" id="id_productStyleList" name="ExistStyle" value="{% for goo in foo %}{{ goo.name }}{{ goo.value }} {% endfor %}"/>
                    {% endfor %}
                    <hr>

                    <!--- 判断是否还能继续选择--->
                    {% if content.productGroup.styleListIsFull %}
                        无可选属性
                    {% else %}
                        {% for property in content.productGroup.propertyOption %}
                            {% for key,value in property.items %}
                            <div>
                                {{ key }}<input type="hidden" name="AllFirstStyle" value="{{ key }}">
                            </div>
                            <div >
                                {% for foo in value %}

                                    <div>
                                        <input type="radio" id="{{key }}{{ foo }}" name="{{ key }}" value="{{ foo }}"  onclick="checkStyleList('{{ key }}{{ foo }}', '{{ key }}');"
                                               {% for productKey, productValue in content.product.unitProperties.items %}{% if productKey == key and productValue == foo %}checked{% endif %}{% endfor %}>
                                        {{ foo }}
                                    </div>
                                {% endfor %}
                            </div>
                                {% if forloop.counter != forloop.last %}
                                <hr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

            <div>
                重新选择图片
                <hr>
                {% for foo in content.productGroup.imageList %}

                    <img id="_imageList_{{ foo.objectId }}"src="{{ foo.image.url }}" width="200" height="200">
                    <label><input type="checkbox" name="imageList" value="{{ foo.objectId }}" onclick="" id=""></label>
                {% endfor %}
            </div>

            <div>
                重新选择主图片
                <hr>
                <div id="_loadAllImage">

                </div>
                <div style="clear:both"></div>

                <div>
                    <input id="" type="button" name="button" value="选择主图片" onclick="loadAllUploadImage()" />
                </div>
            </div>
            <div style="margin-top: 40px">
                修改规格
                <hr>

                <div id="_specificationHtml">
                    {% for foo in content.product.spec %}
                        {% for key,value in foo.items %}
                    <div id="_specification{{ key }}" class="row">
                        <div class="span2">
                        {{ key }}
                        </div>
                        <div span="span5">
                            {{ value }}
                            <input type="hidden" name="_specificationName"  value="{{ key }}">
                            <input type="hidden" name="_specificationValue_{{ key }}"  value="{{ value }}">
                            <input type="button" name="button" value="删除" onclick="deleteTag('_specificationHtml', '_specification{{ key }}')">
                        </div>

                    </div>
                            {% endfor %}
                    {% endfor %}
                </div>
                <hr>
                <div>
                    <input type="text" id="_specificationText" value="">
                    <input type="button" name="button" value="增加规格" onclick="addSpecification('_specification')">
                </div>
            </div>

            <hr style="margin-top: 40px">
            <input class="btn btn-default" type="submit" name="_submit" value="提交修改" >
            {% if content.profile.current_role == 'ProductAdmin' %}
             </form>
            {% endif %}
            {% if content.profile.current_role == 'Shop' %}
             </form>
            {% endif %}

            {% if content.profile.current_role == 'ProductAdmin' %}
             <div style="margin-top: 40px">
                 <a onclick="" href="{% url 'Product:ProductDetail'  %}?objectId={{ content.product.unitObjectId }}">返回商品：{{ content.product.unitName }}</a>
             </div>
            {% endif %}
            {% if content.profile.current_role == 'Shop' %}
             <div style="margin-top: 40px">
                 <a onclick="" href="{% url 'ShopProductGroup:ProductDetail'  %}?objectId={{ content.product.unitObjectId }}">返回商品：{{ content.product.unitName }}</a>
             </div>
            {% endif %}

    </div>

{% endblock %}