{% extends 'ProductAdminPage.html' %}

{% block content %}
<script type="text/javascript">

    //选择商品分类
    function clickFirstLevel1(number) {
        var list = document.getElementsByName('_firstShowOne');
        var checkbox_list = document.getElementsByName('_checkbox_product_name1');
        /*控制分类标签的显示*/
        number = number - 1;
        for(var i=0; i<list.length; i++)
            if (i === number)
            {
                list[i].style.display = 'block';
                firstElement = list[i].firstElementChild.firstElementChild;
                firstElement.checked = true;
                clickSecondLevel1(number+1,1);
            }
            else
                list[i].style.display = 'none';
    }

    function clickSecondLevel1(pnumber,number) {
        var list = document.getElementsByName('_firstShowTwo');
        for(var i=0; i<list.length; i++)
            list[i].style.display = 'none';
        var show = document.getElementById('_firstShowTwo'+pnumber+number);
        show.style.display = 'block';
        firstElement = show.firstElementChild.firstElementChild;
        firstElement.checked = true;
    }

    //添加销售类别
    function clickFirstLevel2(number) {
        var list = document.getElementsByName('_secondShow');
        var checkbox_list = document.getElementsByName('_checkbox_sale_name1');
        /*控制分类标签的显示*/
        number = number - 1;
        for(var i=0; i<list.length; i++)
            if (i === number)
            {
                list[i].style.display = 'block';
                firstElement = list[i].firstElementChild.firstElementChild;
                firstElement.checked = true;
            }
            else
                list[i].style.display = 'none';
    }



    //添加属性
    function clickButtonSale(){
        var tag1,tag2 = null;
        var listA = document.getElementsByName('_checkbox_sale_name1');
        for(var i=0; i<listA.length; i++)
            if(listA[i].checked === true)
            {
                tag1 = listA[i].value;
            }

        var listB = document.getElementsByName('_checkbox_sale_name2');
        for(var i=0; i<listB.length; i++)
            if(listB[i].checked === true)
            {
                tag2 = listB[i].value;
            }

        if (tag1 === null || tag2 === null){
            alert('请选择销售类别标签');
            return ;
        }

        var parent=document.getElementById("_saleAddHtml");
        var newDiv = document.createElement('div');
        newDiv.id = tag1 + '_' + tag2.split(' ')[0];
        if(document.getElementById(newDiv.id))
        {
            alert('该标签已经存在');
            return
        }
        //标签值用两个引号隔开
        newDiv.value = tag1 + '::' + tag2.split(' ')[0];
        propertyHTML = '<input type="text" name="_saleTag" value="'+ tag1 + ' ' + tag2.split(' ')[0] + '" readonly>' +
            '<input type="hidden" name="_saleCategorySecond" value="'+ tag2.split(' ')[1] + '">';

        //注意字符串中引号的处理
        newDiv.innerHTML = propertyHTML
            + '<input class="btn" type="button" name="delete" value="删除" onclick="clickButtonDeleteTag(\'_saleAddHtml\', \''
            + newDiv.id + '\')">';
        if(parent !== null )
            parent.appendChild(newDiv);

    }
    //删除某个标签
    function clickButtonDeleteTag(parent, name) {
        var parentElement = document.getElementById(parent);
        var deleteElement = document.getElementById(name);
        if(deleteElement !== null)
            parentElement.removeChild(deleteElement);
        else
            alert('delete对象不存在');
    }

    function clickButtonAddChoice(name){
        var parent=document.getElementById(name);
        var choiceItem = document.getElementById(name + '_text');
        var newDiv = document.createElement('div');
        if(choiceItem.value === '')
        {
            alert('请输入内容');
            return
        }

        newDiv.id = '_choiceItem_' + choiceItem.value;
        //注意字符串中引号的处理
        newDiv.innerHTML =
            '<input type="text" name="_propertyChoiceText"'
            + 'value="'  + name + ' ' +choiceItem.value + '" readonly>'
            + '<input type="button" name="delete" value="删除" onclick="clickButtonDeleteTag(\''+ name +'\', \''
            + newDiv.id + '\')">';
        if(parent !== null )
            parent.appendChild(newDiv);
        choiceItem.value = '';
    }

    //上传图片
    function change(photo, filename) {
        var pic = document.getElementById(photo);
        var file = document.getElementById(filename);
        var ext=file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();
         // gif在IE浏览器暂时无法显示
         if(ext!='png' && ext!='jpg' && ext!='jpeg'){
             alert("图片的格式必须为png或者jpg或者jpeg格式！");
             return;
         }
         var isIE = navigator.userAgent.match(/MSIE/)!= null,
             isIE6 = navigator.userAgent.match(/MSIE 6.0/)!= null;

         if(isIE) {
            file.select();
            var reallocalpath = document.selection.createRange().text;

            // IE6浏览器设置img的src为本地路径可以直接显示图片
             if (isIE6) {
                pic.src = reallocalpath;
             }else {
                // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                 pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                 // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                 pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
             }
         }else {
            html5Reader(photo, file);
         }
    }

    function html5Reader(photo, file1){
        var file = file1.files[0];
        var reader = new FileReader();

        reader.readAsDataURL(file);
        reader.onload = function(e){
            var pic = document.getElementById(photo);
            pic.height= '200';
            pic.width= '200';
            pic.src=this.result;
        }
    }
    function addDeleteButton(parentName, parentId, deleteId){
        var parent=document.getElementById(parentName);
        var newDiv = document.createElement('input');
        newDiv.setAttribute('type', 'button');
        newDiv.setAttribute('name', deleteId);
        newDiv.setAttribute('value', '删除');
        newDiv.onclick = function(e){
            clickButtonDeleteTag(parentId, deleteId);
        }
        if(parent !== null )
            parent.appendChild(newDiv);
    }

    function addUploadButton(start, whereDeleteId, deleteId){
        var parent=document.getElementById(deleteId+start);
        var newDiv = document.createElement('input');
        newDiv.setAttribute('type', 'file');
        var imageFileNew = '_imageFile' + start;
        var deletdIdNew = deleteId + start;
        newDiv.setAttribute('id', imageFileNew);
        newDiv.setAttribute('name', '_imageFileName');
        var imageNew = '_image' + start;

        newDiv.onchange = function(e){
            change(imageNew, imageFileNew);
            addDiv(Number(start) + Number(1), whereDeleteId, deleteId);
            addDeleteButton(deleteId+start, whereDeleteId, deleteId+start);
            //隐藏input file按钮
            document.getElementById(imageFileNew).style.display = 'none';
        }
        if(parent !== null )
            parent.appendChild(newDiv);
    }

    function addDiv(start, whereDeleteId, deleteId){
        var parent=document.getElementById(whereDeleteId);
        var newDiv = document.createElement('div');
        var photoId = '_image' + start;
        newDiv.setAttribute('id', deleteId+start);
        newDiv.innerHTML='<div><img id="'+ photoId + '" alt="" name="_image"/></div>';
        if(parent !== null )
            parent.appendChild(newDiv);

        //每次尾号自动加一
        addUploadButton(start, whereDeleteId, deleteId);
    }

    function checkboxChooseOne(nameList, nameId) {
        var checkbox_list = document.getElementsByName(nameList);
        for(var i=0; i<checkbox_list.length; i++)
            checkbox_list[i].checked = false;
        var checkbox_id = document.getElementById(nameId);
        checkbox_id.checked = true;
    }


    function deleteTag(parent, name) {
        var parentElement = document.getElementById(parent);
        var deleteElement = document.getElementById(name);
        if(deleteElement !== null)
            parentElement.removeChild(deleteElement);
        else
            alert('delete对象不存在');
    }
    function inputAndDeleteTag(parentId, deleteId)
    {
        /*
        * parentId,表示在这个标签下，增加元素，
        * deleteId，表示在这个标签下，删除元素，
        * */
        var parent=document.getElementById(parentId);
        var newDiv = document.createElement('div');
        //form 表单字符串
        var formInput = parentId.substring(parentId.lastIndexOf("_")+1);
         newDiv.setAttribute('class', 'row');
        //注意字符串中引号的处理
        newDiv.innerHTML =
            '<input type="text" name="' + deleteId + '" value="' + formInput + '" readonly style="display:none;" />'
            + '<div class="span4">'
            + formInput  + '</div><div class="span2">' +
            '<input class="btn" type="button" name="delete" value="删除" ' +
            'onclick="deleteTag(\''+ deleteId +'\', \'' + parentId + '\')"' +
            '/>' +
            '</div>';
        if(parent !== null )
            parent.appendChild(newDiv);
    }

    function inputAndAddTag(parentId, id_inputId, last_level)
    {
        var parent=document.getElementById(parentId);
        var newDiv = document.createElement('div');
        //注意字符串中引号的处理
        var newTag = parentId;
        var newInputText = id_inputId + '_' + parentId + last_level ;// +'_'+ parentId;

        newDiv.innerHTML =
            '<div id="'+ newTag +'" ></div>' +
            '<input type="text" name="textInput"' + ' id="'  + newInputText +'" />' +
            '<input class="btn" type="button" name="add" value="增加" ' +
            'onclick="createFirstTag(\''+ newTag +'\', \'' + newInputText + '\', '+ last_level + ')" >';
        if(parent !== null )
            parent.appendChild(newDiv);
    }
    function baseDivTag(parentId, idName){
        var parent=document.getElementById(parentId);
        var newDiv = document.createElement('div');
        newDiv.setAttribute('id', idName);
        newDiv.setAttribute('style', 'border: solid 1px; margin: 20px; padding: 10px;');
        if(parent !== null )
            parent.appendChild(newDiv);
    }
    function createFirstTag(id_parentFirstId, idFirstText, last_level){
        // 第一个div
        // 第一级下的div：input + delete button
        // 第二级div
        var firstText = document.getElementById(idFirstText);
        var firstId = id_parentFirstId + '_' + firstText.value;
        if(firstText.value === '')
        {
            alert('请输入内容');
            return false;
        }
        if( document.getElementById(firstId) ){
            alert('名称已存在');
            return false;
        }
        //第一级div，总标签，用于删除
        baseDivTag(id_parentFirstId,firstId);
        //第一级下的input，用于表单的提交，隐藏属性
        //第一级下的div，用于删除
        inputAndDeleteTag(firstId, id_parentFirstId);
        //用户增加第后一级标签
        if(last_level > 1)
            inputAndAddTag(firstId, id_parentFirstId, last_level - 1 );
        firstText.value = '';
    }

    function createStoreTag(){
        var tag1 = '', tag2 = '', tag3 = '';
        var firstList = document.getElementsByName('_checkbox_product_name1');
        for(var i=0; i<firstList.length; i++)
            if(firstList[i].checked === true)
                 tag1 = firstList[i].getAttribute('value');

        var secondList = document.getElementsByName('_checkbox_product_name2');
        for(var i=0; i<secondList.length; i++)
            if(secondList[i].checked === true)
                tag2 = secondList[i].getAttribute('value');

        var thirdList = document.getElementsByName('_checkbox_product_name3');
        for(var i=0; i<thirdList.length; i++)
            if(thirdList[i].checked === true)
                tag3 = thirdList[i].getAttribute('value');
        if(tag1 === '' || tag2 === '' || tag3 === '')
        {
            alert("请选择库存分类");
            return;
        }
        deleteTag('id_storeCategory_parent','id_storeCategory_tag');
        var parent=document.getElementById('id_storeCategory_parent');
        var newDiv = document.createElement('div');
        var tag0 =  tag1 + ' ' + tag2 + ' ' + tag3.split(' ')[0];
        var objectId = tag3.split(' ')[1];
        newDiv.setAttribute('id', 'id_storeCategory_tag');
        newDiv.innerHTML=tag0 + '<input type="hidden" name="_storeCategory" value="' + tag0 + '">' +
            '<input type="hidden" name="_storeCategoryThird" value="'+objectId+'">';
        if(parent !== null )
            parent.appendChild(newDiv);
    }
    function addDelSaleCategory(parentId, objectId){
        var parent=document.getElementById(parentId);
        var newDiv = document.createElement('Div');
        newDiv.innerHTML = '<input type="hidden" name="_delSaleCategorySecond" value="'+objectId+'" >';
        if(parent)
            parent.appendChild(newDiv);
    }
    function check(){
        var detailDescription = document.getElementById('id_detailDescription');
        detailDescription.value = $('#summernote').summernote('code');
        return multlClick();
    }
</script>


    <div id="">
        编辑{{ content.productGroup.name }}
    </div>
    <div>

            {% if content.profile.current_role == 'ProductAdmin' %}
         <form enctype="multipart/form-data" method="POST" action="{% url 'Product:EditProductGroup' %}?timestamp={{ content.time }}" onsubmit="return check();" >
        {% endif %}
        {% if content.profile.current_role == 'Shop' %}
         <form enctype="multipart/form-data" method="POST" action="{% url 'ShopProductGroup:EditProductGroup' %}?timestamp={{ content.time }}" onsubmit="return check();" >
        {% endif %}


            {% csrf_token %}
            <input type="hidden" name="prevToken" value="{{ content.prevToken }}">
            <input type="text" name="_productGroupName" value="{{ content.productGroup.name }}" readonly style="display: none;">
            <input type="text" name="_productGroupObjectId" value="{{ content.productGroup.objectId }}" readonly style="display: none;">
            <div>
                <div>选择库存分类</div>
                <hr>

                <table>
                    <td>
                        <div style="border: 1px solid; margin: 10px; padding: 10px;">
                            {% for firstlevel in content.data.storeCategory %}
                                <label class="radio">
                                    {% if content.productGroup.storeCategory.firstStoreCategory == firstlevel.name %}
                                    <input type="radio" onclick="clickFirstLevel1({{ forloop.counter }})" name="_checkbox_product_name1" value="{{ firstlevel.name }}" checked>{{ firstlevel.name }}
                                    {% else %}
                                    <input type="radio" onclick="clickFirstLevel1({{ forloop.counter }})" name="_checkbox_product_name1" value="{{ firstlevel.name }}">{{ firstlevel.name }}
                                    {% endif %}
                                </label>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div style="border: 1px solid; margin: 10px; padding: 10px;">
                            {% for firstlevel in content.data.storeCategory %}
                                {% if forloop.first %}
                                    <div  id="_secondLevel{{ forloop.counter }}" style="display: block;" name="_firstShowOne">
                                    {% else %}
                                    <div  id="_secondLevel{{ forloop.counter }}" style="display: none;" name="_firstShowOne" >
                                {% endif %}

                                    {% for secondlevel in firstlevel.value %}
                                        <label class="radio">

                                            {% if content.productGroup.storeCategory.firstStoreCategory == firstlevel.name and secondlevel.name == content.productGroup.storeCategory.secondStoreCategory %}
                                            <input type="radio" id="_checkbox_product_name2{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                           onclick="clickSecondLevel1({{ forloop.parentloop.counter }},{{ forloop.counter }})" name="_checkbox_product_name2" value="{{ secondlevel.name }}" checked>{{ secondlevel.name }}
                                            {% else %}
                                            <input type="radio" id="_checkbox_product_name2{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                           onclick="clickSecondLevel1({{ forloop.parentloop.counter }},{{ forloop.counter }})" name="_checkbox_product_name2" value="{{ secondlevel.name }}">{{ secondlevel.name }}
                                            {% endif %}


                                        </label>
                                    {% endfor %}
                                {% if forloop.first %}
                                    </div>
                                    {% else %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div style="border: 1px solid; margin: 10px; padding: 10px;">
                            {% for firstlevel in content.data.storeCategory %}
                                    {% for secondlevel in firstlevel.value %}
                                    <div>
                                        {% if forloop.first and forloop.parentloop.first %}
                                            <div id="_firstShowTwo{{ forloop.parentloop.counter }}{{ forloop.counter }}" style="display: block;" name="_firstShowTwo" >
                                            {% else %}
                                            <div id="_firstShowTwo{{ forloop.parentloop.counter }}{{ forloop.counter }}" style="display: none;" name="_firstShowTwo" >
                                        {% endif %}

                                        {% for thirdlevel in secondlevel.value %}
                                        <label class="radio">
                                            {% if content.productGroup.storeCategory.firstStoreCategory == firstlevel.name and secondlevel.name == content.productGroup.storeCategory.secondStoreCategory and thirdlevel.name == content.productGroup.storeCategory.thirdStoreCategory %}
                                            <input type="radio" name="_checkbox_product_name3" id="_checkbox_product_name3{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                   value="{{ thirdlevel.objectId }}" checked>{{ thirdlevel.name }}
                                            {% else %}
                                            <input type="radio" name="_checkbox_product_name3" id="_checkbox_product_name3{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                   value="{{ thirdlevel.objectId }}">{{ thirdlevel.name }}
                                            {% endif %}
                                        </label>
                                        {% endfor %}
                                        {% if forloop.first and forloop.parentloop.first %}
                                            </div>
                                            {% else %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                            {% endfor %}
                        </div>
                    </td>
                </table>
            </div>

            <p></p>
            <div style="margin-top: 40px">
                <div>添加销售类别</div>
                <hr>
                <div id="_saleContainer">
                    <div id="_saleAddHtml">
                        {% for sale in content.productGroup.saleCategory %}
                            <div id="{{ sale.firstSaleCategory }}_{{ sale.secondSaleCategory }}">
                                <input type="text" name="_saleTag" value="{{ sale.firstSaleCategory }} {{ sale.secondSaleCategory }}" readonly>
                                <input class="btn" type="button" name="button" value="删除" onclick="deleteTag('_saleAddHtml','{{ sale.firstSaleCategory }}_{{ sale.secondSaleCategory }}'); addDelSaleCategory('_saleAddHtml','{{ sale.objectId }}')" >
                            </div>
                        {% endfor %}
                    </div>
                    <table>
                        <td style="border: 1px solid; margin: 10px; padding: 10px;">
                            {% for firstlevel in content.data.saleCategory %}
                            <div>
                                <label class="radio">
                                    <input type="radio" id="_checkbox_sale_name1{{ forloop.counter }}" onclick="clickFirstLevel2({{ forloop.counter }})" name="_checkbox_sale_name1" value="{{ firstlevel.name }}">{{ firstlevel.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </td>
                        <td style="border: 1px solid; margin: 10px; padding: 10px;">
                            {% for firstlevel in content.data.saleCategory %}
                                {% if forloop.first %}
                                    <div id="_secondLevel2{{ forloop.counter }}" name="_secondShow" style="display: block">
                                {% else %}
                                    <div id="_secondLevel2{{ forloop.counter }}" name="_secondShow" style="display: none;">
                                {% endif %}
                                    {% for secondlevel in firstlevel.value %}
                                        <label class="radio">
                                          <input type="radio" name="_checkbox_sale_name2" id="_checkbox_sale_name2{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                 value="{{ secondlevel.name }} {{ secondlevel.objectId }}" >{{ secondlevel.name }}
                                        </label>
                                    {% endfor %}
                                    </div>
                            {% endfor %}
                        </td>

                    </table>
                    <input class="btn" type="button" id="_buttonSaleId" name="_buttonSale" value="添加" onclick="clickButtonSale()">
                </div>

            </div>
            <p></p>
            <div style="margin-top: 40px">
                <div>设置商品组名</div>
                <hr>
                <div>
                    <input  type="text" id="_productName" name="_productGroupName" value="{{ content.productGroup.name }}">
                </div>
            </div>
            <p></p>
            <div style="margin-top: 40px">
                <div>设置商品简介</div>
                <hr>
                <div>
                    <input  type="text" id="_productSummary" name="_productSummary" value="{{ content.productGroup.productSummary }}">
                </div>
            </div>
            <p></p>
            <div style="margin-top: 40px">
                <div>修改商品发货地</div>
                <hr>
                <div>
                    <input  type="text" id="_dispatchPlace" name="_dispatchPlace" value="浙江杭州">
                </div>
            </div>
            <p></p>

            <div style="margin-top: 40px">
                <div>添加属性和属性选项</div>
                <hr>
                <div>
                     <div id="id_StyleTag" >

                        {% for property in content.productGroup.propertyOption %}
                            {% for key, value in property.items %}
                            <div id="id_StyleTag_{{ key }}" style="border: solid 1px; margin: 20px; padding: 10px;">
                                <div>
                                    <input type="hidden" name="id_StyleTag" value="{{ key }}" >
                                    {{ key }}
                                    <input type="button" name="button" value="删除" onclick="deleteTag('id_StyleTag','id_StyleTag_{{ key }}')">
                                    <div>
                                        <input type="text" name="textInput" id="id_StyleTag_id_StyleTag_{{ key }}" />
                                        <input type="button" name="add" value="增加" onclick="createFirstTag('id_StyleTag_{{ key }}', 'id_StyleTag_id_StyleTag_{{ key }}', 1)" >
                                    </div>

                                </div>
                                    {% for foo in value %}
                                        <div id="id_StyleTag_{{ key }}_{{ foo }}" style="border: solid 1px; margin: 20px; padding: 10px;" class="row">

                                            <input type="hidden" name="id_StyleTag_{{ key }}" value="{{ foo }}" >
                                            <div class="span4">{{ foo }}</div>
                                            <div class="span2">
                                                <input type="button" name="button" value="删除" onclick="deleteTag('id_StyleTag_{{ key }}','id_StyleTag_{{ key }}_{{ foo }}')">
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>
                            {% endfor %}
                        {% endfor %}


                    </div>
                    <div id="id_createTag">
                       <input type="text" name="text" id="id_styleText">
                        <input class="btn" type="button" name="button" id="id_firstButton" value="增加" onclick="createFirstTag('id_StyleTag', 'id_styleText', 2)">
                    </div>
                </div>

            </div>
            <p></p>

            <p></p>
            <div style="margin-top: 40px">
                <div>选择主图片</div>
                <hr>
                <div class="row">
                    {% for foo in content.productGroup.imageList %}
                        <div class="span3">
                        <img src="{{ foo.image.url }}" width="200" height="200">
                        <input type="radio" name="_checkbox_MainImage" value="{{ foo.objectId }}" onclick="" id="">
                        </div>

                    {% endfor %}

                </div>

            </div>
            <p></p>
            <div style="margin-top: 40px">
                <div>编辑商品详情</div>
                <hr>
                    {% load static %}
                  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
                  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
                  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
                  <link href="{% static 'summernote/dist/summernote.css' %}" rel="stylesheet">
                  <script src="{% static 'summernote/dist/summernote.js' %}"></script>
                    <script>
                        $(document).ready(function() {
                            $('#summernote').summernote({
                                height: 300,
                                focus: true,
                            });
                             $('#summernote').summernote('code', '{% autoescape off %}{{ content.productGroup.detailDescription }}{% endautoescape %}');
                        });

                    </script>
                    <div id="summernote">
                    </div>
                    <input id="id_detailDescription" name="_detailDescription" type="hidden">
            </div>
            <p></p>
            <div style="margin-top: 40px">
                <div>完成</div>
                <hr>
                <div>
                    <input class="btn" type="submit" name="_editProduct" value="确认" onclick="">
                </div>
            </div>

                {% if content.profile.current_role == 'ProductAdmin' %}
                 </form>
                {% endif %}
                {% if content.profile.current_role == 'Shop' %}
                 </form>
                {% endif %}
    </div>
    <div>
        {% if content.profile.current_role == 'ProductAdmin' %}
            <a onclick="" href="{% url 'Product:ProductGroupDetail' %}?productGroupObjectId={{ content.productGroup.objectId }}">
                返回商品组：{{ content.productGroup.name }}
            </a>
        {% endif %}
        {% if content.profile.current_role == 'Shop' %}
             <a onclick="" href="{% url 'ShopProductGroup:ProductGroupDetail' %}?productGroupObjectId={{ content.productGroup.objectId }}">
                返回商品组：{{ content.productGroup.name }}
             </a>
        {% endif %}
    </div>
{% endblock %}