{% extends 'ProductAdminPage.html' %}
{% load static %}
{% block content %}
    <style>
        .modifyPassword{
            width: 600px;
            margin: auto;
            display: block;
        }
    </style>
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/jquery.cookie.js' %}" ></script>
    <script language="JavaScript">
         $(function(){
            /*仿刷新：检测是否存在cookie*/
            if($.cookie("captabPassword")){
                var count = $.cookie("captabPassword");
                var btn = $('#getting');
                btn.val(count+'秒后可重新获取').attr('disabled',true).css('cursor','not-allowed');
                var resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.val(count+'秒后可重新获取').attr('disabled',true).css('cursor','not-allowed');
                        $.cookie("captabPassword", count, {path: '/', expires: (1/86400)*count});
                    }else {
                        clearInterval(resend);
                        btn.val("获取验证码").removeAttr('disabled style');
                    }
                }, 1000);
            }

            /*点击改变按钮状态，已经简略掉ajax发送短信验证的代码*/
            $('#getting').click(function(){
                var phoneNum = $("#id_phone").val();
                if(isPhoneNumber(phoneNum) === false)
                    return false;

                var btn = $(this);
                var count = 60;
                var resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.val(count+"秒后可重新获取");
                        $.cookie("captabPassword", count, {path: '/', expires: (1/86400)*count});

                    }else {
                        clearInterval(resend);
                        btn.val("获取验证码").removeAttr('disabled style');

                    }
                }, 1000);
                btn.attr('disabled',true).css('cursor','not-allowed');
                 $.ajax({
                            type: 'GET',
                            url: '/Account/GetVerifyCode/',
                            data: {
                                'phoneNumber': phoneNum,
                            },
                            success: function (data) {
                               $("#message").html(data);
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                $("#message").html(XMLHttpRequest.responseText);
                            },
                        });
            });

        });
        function isPhoneNumber(number){
            var myreg = /^((([0-9]{3}))+\d{8})$/;
            if(!myreg.test(number)){
                alert('请输入有效的手机号码！');
                return false;
            }else{
                return true;
            }
        }
        function check(){
            {% if content.profile.current_role == 'Shop' %}
                var phoneNum = $("#id_phone").val();
                if(isPhoneNumber(phoneNum) === false)
                {
                    alert('手机号不合法');
                    return false;
                }
            {% endif %}

            if(document.getElementById('id_password').value !== document.getElementById('id_passwordSure').value){
                alert('两次密码输入不一致');
                return false;
            }
            return multiClick();
        }
    </script>


    <div class="modifyPassword">
    <label id="message">{{ content.data.message }}</label>
        <form enctype="multipart/form-data" method="POST" action="{% url 'Account:ModifyPassword' %}" onsubmit="return check();" >
            {% csrf_token %}
            {% if content.profile.current_role == 'Shop' %}
                <div class="row">
                    <div class="span2">手机号:</div>
                    <div class="span3">
                        <input type="text" id="id_phone" name="phoneNumber" value="{{ content.data.phoneNumber }}" required>
                    </div>
                    <div class="span">
                        <input class="btn btn-default" type="button" name="getVerifyCode" id="getting" value="获得验证码" >
                    </div>
                </div>
           <div class="row">
           <div class="span2">验证码:</div>
            <div class="span3">
                <input type="text" name="verifyCode" value="" required>
            </div>
           </div>

            {% endif %}
        <div class="row">
            <div class="span2">新密码：</div>
            <div class="span3">
                <input type="password" name="password" id="id_password" value="" required>
            </div>
        </div>
           <div class="row">
            <div class="span2">确认密码：</div>
            <div class="span3">
                <input type="password" name="passwordsure" id="id_passwordSure" value="" required>
            </div>
           </div>

            <div>
                 {% if content.profile.current_role == 'Shop' %}
                     <input class="btn btn-default" type="submit" name="submitNewPassword" value="提交">
                {% else %}
                     <input class="btn btn-default" type="submit" name="submitPassword" value="提交">
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}