{% extends 'base.html' %}

{% block content %}
    <div>
        {{ form.username }}
    </div>
    <div>
        {{ form.password }}
    </div>
    <div>
        <input class="btn btn-default" type="submit" name="login" value="login" >
    </div>
    <div>
        <a onclick="return multiClick();" href="Account:ForgetPassworld" >忘记密码</a>
    </div>
{% endblock %}




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/distpicker.data.js' %}"></script>
    <script src="{% static 'js/distpicker.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

        <script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'js/bootstrap-button.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

       -->