{% extends 'ProfilePage.html' %}
{% load static %}
{% block middleTag %}

    {{ content.message }}
    <form enctype="multipart/form-data" method="POST" action="{% url 'Account:ResetPassword' %}" onsubmit="return multiClick();" >
        {% csrf_token %}
    {% if content.verified %}
        <div>新密码：</div>
        <div>
            <input type="password" name="password" value="" required>
        </div>
        <div>确认密码：</div>
        <div>
            <input type="password" name="passwordsure" value="" required>
        </div>
        <div>
            <input class="btn btn-default" type="submit" name="modifyPassword" value="提交" >
        </div>
    {% else %}
        <style href="{% static 'css/style.css' %}">

        .form-group{
            width: 450px;
            margin: auto;
        }
        .sr-only{
            width: 100px;
            display:block;
            float: left;
        }
        .form-control{
            float: left;
        }
        </style>
        <div class="form-group">
            <label class="sr-only">
                手机号
            </label>
            <div class="form-control">
                <input type="text" name="phoneNumber" value="{{ content.phoneNumber }}" required>
            </div>
            <div class="form-control">
                <input class="btn btn-default" type="submit" name="getVerifyCode" value="获得验证码" >
            </div>
            <div style="clear: both;"></div>
            <label class="sr-only">
                验证码
            </label>
            <div class="form-control">
                <input type="text" name="verifyCode" value="{{ content.verifiedCode }}" required>
            </div>
            <div style="clear: both;"></div>
            <div>
                <input class="btn btn-default" type="submit" name="submit" value="确定" >
            </div>
        </div>

    {% endif %}
    </form>

{% endblock %}