<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      运营设置<span class="caret"></span>
    </a>
    <ul class="menu">
    	<li role="presentation"><a href="#" id="homepageSetting">首页设置</a></li>
    	<li role="presentation"><a href="#" id="categoryRecommendation">分类推荐</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      商品服务 <span class="caret"></span>
    </a>
    <ul class="menu">
	   <li role="presentation"><a href="#" id="serviceList">服务列表</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      通知管理 <span class="caret"></span>
    </a>
    <ul class="menu">
     <li role="presentation"><a href="#" id="bussinessTeamAppUser">App用户</a></li>
     <li role="presentation"><a href="#" id="bussinessTeamSeller">商家</a></li>
    </ul>
  </li>
</ul>

