<div class="container">

	<div class="content homepageSetting used">
	{% include "content/homepageSetting.html" %}
	</div>
	
	<div class="content categoryRecommendation">
	{% include "content/categoryRecommendation.html" %}
	</div>
	
	<div class="content serviceList used">
	{% include "content/serviceList.html" %}
	</div>
	
	<div class="content bussinessTeamAppUser">
	{% include "content/bussinessTeamAppUser.html" %}
	</div>
	
	<div class="content bussinessTeamSeller">
	{% include "content/bussinessTeamSeller.html" %}
	</div>
	
</div>
