<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      自营订单<span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="selfOrder">自营</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      商家订单 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="sellerOrder">商家</a></li>
    </ul>
  </li>
</ul>


<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      订单搜索 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="orderSearch">订单搜索</a></li>
    </ul>
  </li>
</ul>

