<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      运费设置<span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="logicFeeModel">运费模版</a></li>
	<li role="presentation"><a href="#" id="logicFreeModel">满x元包邮</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      品牌管理 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="brandList">品牌列表</a></li>
    </ul>
  </li>
</ul>

