<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      自营设置<span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="initialSelfShop">自营店初始化</a></li>
	<li role="presentation"><a href="#" id="selfShopInfoMana">自营店信息管理</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      自营管理 <span class="caret"></span>
    </a>
    <ul class="menu">
      <li role="presentation"><a href="#" id="freightModel">运费模版</a></li>
      <li role="presentation"><a href="#" id="activityMana">活动管理</a></li>
	    <li role="presentation"><a href="#" id="brandList">品牌列表</a></li>
    </ul>
  </li>
</ul>

