<div class="container">

	<div class="content initialSelfShop used">
		{% include "content/initialselfshop.html" %}
		
	</div>
	
	<div class="content selfShopInfoMana">
		{% include "content/selfshopinfomana.html" %}
		
	</div>
	
	<div class="content freightModel">
		{% include "content/freightmodel.html" %}
		
	</div>
	
	<div class="content activityMana used">
		{% include "content/activitymodel.html" %}
		
	</div>
	
	<div class="content brandList">
		{% include "content/brandlist.html" %}
		
	</div>
	
</div>
