<div class="container">

	<div class="content checkStockCategory used">
		{% include "content/checkStockCategory.html" %}
	</div>
	
	<div class="content editStockCategory">
		<form>
			{% csrf_token %}
			{% include "content/editStockCategory.html" %}
		</form>
	</div>
        
	<div class="content checkMarketCategory">
		{% include "content/checkMarketCategory.html" %}
	</div>
	
	<div class="content editMarketCategory">
		<form>
			{% csrf_token %}
			{% include "content/editMarketCategory.html" %}
		</form>
	</div>
	
	<div class="content selfProduct">
		{% include "content/selfProduct.html" %}
	</div>
	
	<div class="content sellerProduct">
		{% include "content/sellerProduct.html" %}
	</div>
	
	<div class="content productSearch">
		{% include "content/productSearch.html" %}
	</div>
	
	
	

</div>
