<div class="container">

	<div class="content checkStockCategory used">
	{% include "content/checkStockCategory.html" %}
	</div>
	
	<div class="content editStockCategory">
	{% include "content/editStockCategory.html" %}
	</div>
        
	<div class="content addStockCategory">
	{% include "content/addStockCategory.html" %}
	</div>

	<div class="content deleteStockCategory">
	{% include "content/deleteStockCategory.html" %}
	</div>
	
	<div class="content checkMarketCategory">
	{% include "content/checkMarketCategory.html" %}
	</div>
	
	<div class="content editMarketCategory">
	{% include "content/editMarketCategory.html" %}
	</div>
	
	<div class="content addMarketCategory">
	{% include "content/addMarketCategory.html" %}
	</div>

	<div class="content deleteMarketCategory">
	{% include "content/deleteMarketCategory.html" %}
	</div>

	<div class="content selfProduct">
	{% include "content/selfProduct.html" %}
	</div>
	
	<div class="content sellerProduct">
	{% include "content/sellerProduct.html" %}
	</div>
	
	<div class="content productSearch">
	{% include "content/productSearch.html" %}
	</div>
	
	
	

</div>
