<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      库存分类<span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="checkStockCategory">查看分类</a></li>
	<li role="presentation"><a href="#" id="editStockCategory">编辑分类</a></li>	
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      销售分类 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="checkMarketCategory">查看分类</a></li>
	<li role="presentation"><a href="#" id="editMarketCategory">编辑分类</a></li>
    </ul>
  </li>
</ul>


<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      所有商品 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="selfProduct">自营商品</a></li>
	<li role="presentation"><a href="#" id="sellerProduct">商家商品</a></li>
	<li role="presentation"><a href="#" id="productSearch">商品搜索</a></li>
    </ul>
  </li>
</ul>
