<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle tight-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      账号管理<span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="accountList">账号列表</a></li>
	<li role="presentation" ><a href="#" id="sellerAccount">商家账号</a></li>
	<li role="presentation"><a href="#" id="appUser">APP用户</a></li>
    </ul>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      系统设置 <span class="caret"></span>
    </a>
    <ul class="menu">
	<li role="presentation"><a href="#" id="clientPageConfig">客户端网页配置</a></li>
    </ul>
  </li>
</ul>

