
<style>
.label-left-comment{
    display: block;
    float: left;
}
.label-right-comment{
    display: block;
    float: right;
}
.FirstComment{
    font-size: 25px;
    font-family: STHeiti;
}
.SecondComment{
    font-size: 15px;
    font-family: STSong;
}
</style>

{% for foo in content.productGroup.productCommentList %}
    <div class="row">
        <div class="span2">
            <img src="{{ foo.userAvatar.url }}" width="100px" height="100px">
        </div>
        <div class="span8">
            <div class="FirstComment">
                <label class="label-left-comment">{{ foo.userNickname }}</label>
                <label class="label-right-comment">{{ foo.createdAt }}</label>
                <div style="clear: both;"></div>
            </div>
            <div class=" SecondComment">
                {{ foo.content }}
            </div>

            <div>
                {% for image in foo.imageList %}
                    <img src="{{ image.url }}" width="100px" height="100px">
                {% endfor %}
            </div>
            <div>
                {{ foo.productStyle }}
            </div>
        </div>
    </div>

    <hr>
{% endfor %}

<script type="text/javascript">
    $(function () {
        $('.paginator_a').click(function () {
            var page = 1;
            if($(this).is('#paginator_previous')){
                page={{ content.paginator.previous_page_number }};
            }else if($(this).is('#paginator_next')){
                page={{ content.paginator.next_page_number }};
            }else if($(this).is('#paginator_last')){
                page={{ content.paginator.num_pages }};
            }

            $.ajax({
                type: 'GET',
                url: '/Product/ShowComments/',
                data: {
                    'page_nums': {{ content.paginator.num_pages }},
                    'productObjectId': '{{ content.productGroup.objectId }}',
                    'page': page
                },
                success: function(data) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                },
                complete:function(XMLHttpRequest){
                    $("#comments").html(XMLHttpRequest.responseText);
                }
            });
        });
    });
</script>


 <div class="pagination" >
    <span class="step-links">
    {% if content.paginator.has_previous %}
        <a class="paginator_a" id="paginator_first" href="javascript:void(0)" > first</a>
        <a class="paginator_a" id="paginator_previous" href="javascript:void(0)" > previous</a>
    {% endif %}

    {% if content.paginator.num_pages %}
    <span class="current">
    Page {{ content.paginator.number }} pages of {{ content.paginator.num_pages }}
    </span>
    {% endif %}
    {% if content.paginator.has_next %}
        <a class="paginator_a" id="paginator_next" href="javascript:void(0)" >next</a>
        <a class="paginator_a" id="paginator_last" href="javascript:void(0)"  >last</a>
    {% endif %}
</span>
</div>
