“萌趣”开放平台服务协议
商家萌趣
“萌趣”开放平台服务协议
本协议书萌趣和商家本着优势互补、互惠互利、共同发展的原则，依据《中华人民共和国协议法》、《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》、《零售商供应商公平交易管理办法》等法律、法规的规定签订。
一、合作内容概述及签署
内容：商家为萌趣提供双方商定的商品，在萌趣平台进行代销售卖，商家自行提供商品备货、发货、配送、退换货服务及售后工作；萌趣代收商品销售收入，扣除平台服务费，萌趣按账期向商家支付应付商品货款。
签署：商家已在签署本协议之前认真阅读全部协议内容并清楚理解协议的全部内容及相应法律后果，如商家对协议条款及内容有任何疑问的，应在签署前向萌趣咨询。商家如不接受本协议签署后萌趣发布、更新的规则，有权在萌趣发布、更新规则后三十日内书面提出解除本协议，否则视为接受。

二、萌趣供应商平台服务
1.商家使用萌趣提供的供应商平台服务时，可以使用萌趣提供的技术服务及其他信息服务。商家可在萌趣供应商平台上发布交易信息、查询商品和服务信息、达成交易意向并进行交易、参加萌趣组织的活动；
2.商家在萌趣平台上交易过程中与第三方发生非萌趣原因导致的交易纠纷时，萌趣将不承担任何中间调解或相关的法律责任；
3.商家了解并同意，萌趣有权应政府部门（包括司法及行政部门）的要求，向其提供商家在平台填写的注册信息和交易纪录等必要信息。如涉嫌侵犯他人知识产权，商家应在事件/投诉发生之日起五个工作日内提供免责的证据，否则萌趣有权在初步判断涉嫌侵权行为存在的情况下，向权利人主张人提供商家必要的身份信息。萌趣无需为此而需向商家承担任何责任；
4.萌趣会积极配合商家的运营方案，在公众宣传平台（例如微博、商品上架）提供免费或付费宣传；
5.萌趣将向商家产品提供平台相关服务，包括预售征集、产品上架及审核、客服咨询、联合宣传（由双方运营策划）、热卖专位（需向萌趣商务申请）；
6.萌趣提供相关售前售后的客服服务，但商家有义务配合萌趣平台客服人员，解答客服人员的疑问。如第三方因使用在萌趣平台上提供的商家服务或产品产生纠纷导致萌趣承担相应的责任的，则萌趣有权向商家追偿包括但不限于诉讼费、赔偿金、律师费在内的一切合理费用.如因萌趣平台系统故障或萌趣操作错误导致商家对第三方承担责任的，商家有权向萌趣追偿包括但不限于诉讼费、赔偿金、律师费在内的一切合理费用。

三、质量及服务细则
1. 质量相关：
a)商家在萌趣平台售卖的商品质量及售后服务必须符合《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》、“三包规定”及其他相关法律法规等规范性文件,也要符合萌趣供应商平台各项规则的规定和要求。不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。商家如果违反前述承诺，产生任何法律后果的，商家应以自己的名义独立承担所有法律责任。
b)不发布国家禁止销售的或限制销售的商品或服务信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布违背社会公共利益或公共道德或萌趣平台销售规则的商品或服务信息，不发布其它涉嫌违法或违反本协议及各类规则的信息；
2.服务相关：
备货：商家应按照实际库存数量维护系统库存，如出现缺断货现象需在 48小时内完成补货并要求商家客服人员对顾客进行安抚工作；因缺断货造成的客诉、退款等连带损失，商家应全部承担。如果商家产品有销售变动，包括价格修改、库存清零等情况，应及时告知萌趣。
发货：商家需在买家支付商品后48小时之内，完成发货流程，并将发货物流单号上传至  商家后台，法定假期发货时间有变动的需提前跟萌趣协商，预售类产品在双方商定的日期内发货。商家若未能将产品按时发货，应通知萌趣并告知所需要的明确延迟时间，以便萌趣负责联系客户，处理相应售后客服工作。如发错、漏发、延迟发货等由于商家操作不当引起的客诉赔偿全部由萌趣承担。
残次：商家需保证在萌趣平台售卖的商品质量，商品本身或在运输过程中出现的损坏或残次现象，商家应在接到用户投诉 48小时内为萌趣更换相同型号的新品（包括但不限于主件、配件、新包装、随机礼品等）或按退货处理。
换货：商家应在接到萌趣顾客换货通知后 24 小时内为顾客解决换货问题，换取证件的新品（包括但不限于主件、配件、新包装、随机礼品等）。如商家拒绝同时更换产品的各种配件及包装物，萌趣有权在与商家结算时扣除相应的费用。
退货：商品售卖后7日内，商家须无条件接受用户的退货申请，若因用户个人原因造成的退货需求，商家需在用户回寄商品后，退还用户商品款项（运费由用户个人承担），若因产品因质量问题而发生维修、退换时，因此而产生的费用由商家承担，此费用萌趣有权在与商家进行货款结算时自动扣除。
物流：在发货前商家应为产品做合理有效的包装，并选择合法可靠的物流公司,避免产品在物流期间产生不必要损耗。商家作为发货方承担确保客户收到产品的责任，若在物流过程中出现丢件损坏件等导致客户无法收货的情况，商家应及时补发和自行向物流公司索偿。
其它：
a)商家产品的销售变动，包括价格修改、库存清零等情况，应及时告知萌趣；
b)不对萌趣平台上的任何数据作商业性利用，包括但不限于在未经萌趣事先书面同意的情况下，以复制、传播等任何方式使用萌趣平台站上展示的非商家所有的资料；
c)不使用任何装置、软件或例行程序干预或试图干预萌趣平台的正常运作或正在萌趣平台上进行的任何交易、活动。商家不得采取任何将导致不合理的庞大数据负载加诸萌趣平台网络设备的行动。
若违反以上规范，萌趣有权下架商家产品，如导致萌趣承担相应的责任，则萌趣有权向商家追偿包括但不限于诉讼费、赔偿金、律师费在内的一切合理费用

四、萌趣与商家权利与义务
1.商家应协助萌趣进行各种与商家提供产品有关的促销活动。
2.商家提供给萌趣的产品信息（包括但不限于）规格参数、商品图片、商品描述文字、宣传资料应真实可靠且符合国家相关法律规定，若存在虚假宣传或侵犯他人知识产权的，商家承担一切责任及经济赔偿。
3.若商家提供的产品的配件（附件）是第三方的产品，商家保证已获得相关知识产权授权（包括但不限于）使用许可，该使用不侵犯第三方的合法权益。否则因此而产生的一切责任均由商家承担。
4.因商家提供的产品给萌趣或第三方造成人身伤残、经济损失的，商家应承担一切赔偿责任。因上述原因给萌趣造成名誉损失的商家应赔偿萌趣的全部损失。
5.萌趣销售商家所提供产品质量、性能、售后服务及相关原因产生用户投诉，商家有责任立即进行处理。如因商家或商家授权服务单位未及时处理，导致用户向政府投诉萌趣、萌趣被新闻媒体曝光、萌趣被诉讼等严重情况，萌趣有权立即停止商家款项结算直至事情妥善处理完结。

五、协议终止
1.出现以下情况时，萌趣有权直接以注销账户的方式终止本协议:
a)商家提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与商家进行联系，或QQ以及其它联系方式通知商家更改电子邮件信息，而商家在萌趣收到通知后三个工作日内仍未更改为有效的电子邮箱的；
b)商家注册信息中的主要内容不真实或不准确或不及时或不完整，经萌趣通知更改后的三个工作日内仍未更改的；
c)其它本协议约定认为应当终止服务的情况。
2.商家有权向萌趣要求注销其账户，经萌趣审核同意的，萌趣注销（永久冻结）商家的账户，届时，商家与萌趣基于本协议的协议关系即终止。商家的账户被注销（永久冻结）后，萌趣没有义务为商家保留或披露其属下账户中的任何信息，也没有义务向供应商或第三方转发任何商家未曾阅读或发送过的信息。但应在账户注销（永久冻结）的5个工作日内，将应支付给商家的费用支付给商家。
3.商家同意，商家与萌趣的协议关系终止后，萌趣仍享有下列权利:
a)继续保存商家的注册信息及其使用萌趣平台服务期间的所有交易信息；
b)商家在使用萌趣供应商平台服务期间存在违法行为或违反本协议和/或规则的行为的，萌趣仍可依据本协议向商家主张权利；
c)萌趣中止或终止向商家提供萌趣供应平台服务后，对于商家在服务中止或终止之前的交易行为依下列原则处理，应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保萌趣免于因此产生任何损失或承担任何费用：
1)商家在服务中止或终止之前已经上传至萌趣供应商平台的物品尚未交易的，萌趣有权在中止或终止服务的同时删除此项物品的相关信息；
2)商家在服务中止或终止之前已经与其他会员达成买卖协议，但协议尚未实际履行的，萌趣有权删除该买卖协议及其交易物品的相关信息；
3)商家在服务中止或终止之前已经与其他会员达成买卖协议且已部分履行的，萌趣可以不删除该项交易，但萌趣有权在中止或终止服务的同时将相关情形通知商家的交易对方。
4.当本协议终止后，商家应在3个工作日内完成已支付订单的发货工作，萌趣应在商家完成发货后5个工作日内完成结算。

六、产品物流与发货
1.物流：
商家应保证产品质量按同类产品的国家标准、行业标准执行；
a)在发货前商家应为产品做合理有效的包装，并选择合法可靠的物流公司,避免产品在物流期间产生不必要损耗；
b)商家产品快递包裹中，应附带一张详细的发货表格（注明产品名称、规格、数量等），同时商家应将底联留存；
c)商家在发货过程中，因物流或不可抗力因素包括如地震、台风、洪水、海啸战争等造成商家损失，萌趣概不负责；
d)商家作为发货方承担确保客户收到产品的责任，若在物流过程中出现丢件损坏件等导致客户无法收货的情况，商家应及时补发和自行向物流公司索偿。
2.发货：
商家每日可以通过萌趣CSP平台获取萌趣平台产生的产品订单，现货类产品由商家在2个工作日内发货，法定假期暂停发货，预售类产品在双方商定的日期内发货（节假日发货时间应另行协商）；
商家在发货后，应通过登录萌趣供应商平台(CSP)，及时填写物流信息，萌趣平台应确保物流信息顺利展示给客户；
商家若未能将产品按时发货，应通知萌趣并告知所需要的明确的延迟时间，以便萌趣负责联系客户，处理相应售后客服工作。

七、争议与解决
因履行本协议发生的任何争议，双方应协商解决。协商不成时应依照中华人民共和国法律法规予以处理，双方同意纠纷交由起诉方所在的当地人民法院审理。

八、保密责任
1．萌趣和商家对于本协议的签订、内容及在履行本协议期间所获知的另一方的商业秘密负有保密义务。非经对方书面同意，任何一方不得向第三方（关联公司除外）泄露、给予或转让该等保密信息（法律、法规另有规定的除外）；
2．如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件等，在本协议终止后按对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。
3．在本协议终止之后，各方在本条款项下的义务并不随之终止，各方仍需遵守本协议之保密条款，履行其所承诺的保密义务，直到其他方同意其解除此项义务，或事实上不会因违反本协议的保密条款而给其他方造成任何形式的损害时为止；
4．任何一方均应告知并督促其因履行本协议之目的而必须获知本协议内容及因合作而获知对方商业秘密的雇员、代理人、顾问等遵守保密条款，并对其雇员、代理人、顾问等的行为承担责任。
5.任何一方未经对方书面同意，不得泄露或转让对方的知识产权及其衍生产品，若造成损失，本协议签署的任何一方，都有权保留相关的法律追究；
6.如商家涉嫌侵犯第三方知识产权，萌趣有权单方面终止协议，无需向第三方承担任何责任，如导致萌趣承担责任，则萌趣有权要求商家承担包括但不限于诉讼费、赔偿金、调查费、差旅费、律师费在内的所有费用。

九、违约责任
除上述条款中已列明的违约责任，双方还应承担下列违约责任：
1.商家向萌趣提供虚假、失效的证明文件或其他相关证明，在萌趣供应商平台发布错误、虚假、违法及不良信息或进行其他违反本协议约定的行为，给萌趣造成任何损失的（损失包括但不限于诉讼费、律师费、赔偿、补偿、行政机关处罚、差旅费等），商家应赔偿萌趣损失，商家同意萌趣和商家共同确认损失金额后可以在商家未结算货款中予以扣除，本协议另有约定的除外；
2.如一方违反有关法律或者本协议之规定，给另一方造成任何损失（包括商誉），或受到任何第三方的索赔，或受到任何行政管理部门的处罚，责任方应当赔偿另一方因此受到的损失及发生的费用，包括但不限于诉讼费、律师费、赔偿、补偿、行政机关处罚、差旅费等；
3.商家发生违反本协议及萌趣平台规则的情形时，萌趣除有权按照本条约定要求商家承担违约责任外，还有权按照萌趣平台相关管理规则采取商品立即下架、暂停向商家提供服务、暂时关闭商家后台管理账户、暂缓支付未结算款项、终止合作等措施并有权视商家承担责任的情况予以恢复；
4.萌趣应按时付款给商家，若逾期付款的，每日应支付未付款项0.5%的滞纳金。超过10天的，商家有权解除协议。

十、法律适用、管辖与其他
1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律及其地方性法规，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例；
2.因本协议产生之争议，应依照中华人民共和国法律法规予以处理，双方同意纠纷交由起诉方方所在地人民法院审理；

十一、其它事宜 
1.若有未尽事宜，须经双方共同协商，签订补充协议，如协议与本协议不一致的，以补充协议的内容为准；
2.萌趣将不时修订隐私权政策，隐私权政策构成本协议的有效组成部分；

商家萌趣
