<div class="" >
    <div class="row">
      <div class="col-md-2 col-md-offset-1 manageLogo">
	      萌趣后台管理平台
      </div>
      <div class="col-md-9">
        <ul class="nav nav-pills navInMonitor">
	  <li><a href="#" id="system">系统</a></li>
	  <li><a href="#" id="stock">库存</a></li>
	  <li><a href="#" id="selfshop">自营</a></li>
	  <li><a href="#" id="sellershop">商家</a></li>
	  <li><a href="#" id="bussinessteam">运营</a></li>
	  <li><a href="#" id="order">订单</a></li>
	  <li><a href="#" id="service">售后</a></li>
	  <li><a href="#" id="finance">财务</a></li>
	  <li><a href="#" id="statistics">数据统计</a></li>
	  <li><a href="#" id="selfcenter">个人中心</a></li>
	  <li><span class="username">{{User.username}}</span><span class="pipe">|</span><span class="role">{{User.role}}</span></li>
	</ul>
       </div>
     </div>
</div>












