{% extends 'ProductAdminPage.html' %}

<!--
    '''
    用户修改密码：
    :param request:
    :return:
        json数据格式如下：
            修改成功：
                    content = {
                        'login': login,
                        'profile': profile,
                        'data': {
                                    'message': '',
                                    'objectId': '',
                                },
                    }
            修改失败：
    '''
-->


{% block content %}

        <form enctype="multipart/form-data" method="POST" action="{% url 'Admin:ResetUserPassword' %}" onsubmit="return multiClick();" >
        {% csrf_token %}
            <input type="hidden" name="prevToken" value="{{ content.prevToken }}">
                <!--
            leancloud目前无法查看本地密码
            <div>原密码：</div>
            <div>
                <input type="password" name="_oldPassword" value="" required>
            </div>

                -->
            <input type="hidden" name="_objectId" value="{{ content.objectId }}">
            <div>新密码：</div>
            <div>
                <input type="password" name="_newPassword" value="" required>
            </div>
            <div>确认密码：</div>
            <div>
                <input type="password" name="_newPassword2" value="" required>
            </div>
            <div>
                <input class="btn btn-default" type="submit" name="_modifyPassword" value="提交" >
            </div>
        </form>
        {{ content.message }}
{% endblock %}