<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpselfShopLogicFeeModalAddModal">添加模版</a></li>
	  <li role="presentation"><a href="#" id="mpselfShopLogicFeeModalChangeModal">修改模版</a></li>
	  <li role="presentation"><a href="#" id="mpselfShopLogicFeeModalDeleteModal">删除模版</a></li>
	</ul>

	<div class="mp mpselfShopLogicFeeModalAddModal">
	  {% include "content/selfShop/logicFeeModal/addModal.html" %}
	</div>

	<div class="mp mpselfShopLogicFeeModalChangeModal">
	  {% include "content/selfShop/logicFeeModal/changeModal.html" %}
	</div>

	<div class="mp mpselfShopLogicFeeModalDeleteModal">
	  {% include "content/selfShop/logicFeeModal/deleteModal.html" %}
	</div>
</div>



