<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpstockSelfProductSelling">已上架</a></li>
	  <li role="presentation"><a href="#" id="mpstockSelfProductHouse">仓库</a></li>
	  <li role="presentation"><a href="#" id="mpstockSelfProductAddProduct">发布商品</a></li>
	</ul>

	<div class="mp mpstockSelfProductSelling used">
	  {% include "content/stock/selfProduct/selling.html" %}
	</div>

	<div class="mp mpstockSelfProductHouse">
	  {% include "content/stock/selfProduct/house.html" %}
	</div>

	<div class="mp mpstockSelfProductAddProduct">
	  {% include "content/stock/selfProduct/addProduct.html" %}
	</div>
</div>

