<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpsystemAccountListAddAccount">添加账号</a></li>
	  <li role="presentation" ><a href="#" id="mpsystemAccountListManageAccount">管理账号</a></li>
	</ul>

	<div class="mp mpsystemAccountListAddAccount used">
	  {% include "content/system/selfAccount/addAccount.html" %}
	</div>

	<div class="mp mpsystemAccountListManageAccount">
	  {% include "content/system/selfAccount/manageAccount.html" %}
	</div>
</div>
