<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="#" id="mpstockSelfProductSelling">正在销售</a></li>
	  <li role="presentation"><a href="#" id="mpstockSelfProductHouse">仓库</a></li>
	  <li role="presentation"><a href="#" id="mpstockSelfProductAddProduct">发布商品</a></li>
	</ul>

	<div class="mp mpstockSellerProductSelling used">
	  <selfselling  :allselfselligproducts="allSelfSellingProducts"></selfhouse>
	</div>
	<div class="mp mpstockSellerProductHouse">
	  <selfhouse  :allselfhouseproducts="allSelfHouseProducts"></selfhouse>
	</div>
	<div class="mp mpstockSellerProductAddProduct">
	  <addproduct></addproduct>
	</div>
</div>

