<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpstockSellerProductSelling">已上架</a></li>
	  <li role="presentation"><a href="#" id="mpstockSellerProductHouse">仓库</a></li>
	  <li role="presentation"><a href="#" id="mpstockSellerProductAddProduct">发布商品</a></li>
	</ul>

	<div class="mp mpstockSellerProductSelling used">
	  {% include "content/stock/sellerProduct/selling.html" %}
	</div>

	<div class="mp mpstockSellerProductHouse">
	  {% include "content/stock/sellerProduct/house.html" %}
	</div>

	<div class="mp mpstockSellerProductAddProduct">
	  {% include "content/stock/sellerProduct/addProduct.html" %}
	</div>
</div>

