<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpsellerShopLogicFeeModalAddModal">添加模版</a></li>
	  <li role="presentation"><a href="#" id="mpsellerShopLogicFeeModalChangeModal">修改模版</a></li>
	  <li role="presentation"><a href="#" id="mpsellerShopLogicFeeModalDeleteModal">删除模版</a></li>
	</ul>

	<div class="mp mpsellerShopLogicFeeModalAddModal used">
	  {% include "content/sellerShop/logicFeeModal/addModal.html" %}
	</div>

	<div class="mp mpsellerShopLogicFeeModalChangeModal">
	  {% include "content/sellerShop/logicFeeModal/changeModal.html" %}
	</div>

	<div class="mp mpsellerShopLogicFeeModalDeleteModal">
	  {% include "content/sellerShop/logicFeeModal/deleteModal.html" %}
	</div>
</div>



