<div class="contentMenu">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#" id="mpsellerShopBrandCheck">查看品牌信息及关联商品</a></li>
	  <li role="presentation"><a href="#" id="mpsellerShopBrandAdd">添加品牌</a></li>
	  <li role="presentation"><a href="#" id="mpsellerShopBrandChange">修改品牌</a></li>
	  <li role="presentation"><a href="#" id="mpsellerShopBrandDelete">删除品牌</a></li>
	</ul>

	<div class="mp mpsellerShopBrandCheck used">
	  {% include "content/sellerShop/Brand/selfBrand/checkBrand.html" %}
	</div>
	<div class="mp mpsellerShopBrandAdd">
	  {% include "content/sellerShop/Brand/selfBrand/addBrand.html" %}
	</div>
	<div class="mp mpsellerShopBrandChange">
	  {% include "content/sellerShop/Brand/selfBrand/changeBrand.html" %}
	</div>
	<div class="mp mpsellerShopBrandDelete">
	  {% include "content/sellerShop/Brand/selfBrand/deleteBrand.html" %}
	</div>
</div>

